# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      \.vscode/settings\.json|
      docs/source/conf\.py|
      tests/test_exercise/.*|
      tests/test_solution/.*|
      tests/test_hiddendirective/.*|
    )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
